body {
    background-color: black;
    color: seashell;
    height: 1000px;
}

nav {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav img {
    height: 50px;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}

nav li {
    margin: 0 10px;
}